---
---
@charset "utf-8";

@import "typography";

$font-content: "Lato", "Open Sans Light", "Libre Franklin", Helvetica, arial, sans-serif;
$font-title: "Open Sans Light", "Lato", "Libre Franklin", Helvetica, arial, sans-serif;

/* Colours */
$twitter:		#6dabda;
$linkedin:		#2b77b1;
$xing:			#006567;
$google-plus:	#c95644;
$facebook:		#365899;
$github:		#f6c2a4;
$stack-overflow:#c98b3b;
$instagram:		#cd486b;
$reddit:		#cee3f8;
$rss:			#eea33a;

$blog-title:	#FFFFFF; 
$code-highlighter-bg: #171717;

/* Gray shades */
$gray-darker:		#21211E; 
$gray-dark:			#272727;
$gray-medium:		#222222;
$gray-light-medium:	#969696;
$gray-light:		#DFECE6;
$white:				#FFFFFF;

/* Orange shades */
$orange-lighter:#ffc129;
$orange-light:	#ffa302;
$orange-strong:	#f07100;
$orange-vivid:	#ff8502;
$orange-gold:	#fdb301;
$orange-bold:	#c13207;
$orange:		#F5811E;
/* #F07241; */

/* Blue shades */
$blue-darker:	#1b8578;
$blue-dark:		#2da596;
$blue-ocean:	#40b6a7;
$blue-lighter:	#50d2c2;
$blue-vivid:	#097de0;
$dark-blue:		#215A6D;
$light-blue:	#3CA2A2;

/* Red shades */
$red-darker:	#90242a;
$red-bold:		#ae000a;
$red-strong:	#e71420;
$red-vivid:		#e00909;
$red-light:		#ce202a;
$red-lighter:	#fb2632;
$red:			#C04848;

/* Purple shades */
$purple-light:	#b509e0;
$dark-purple:	#300030;
$medium-purple:	#480048;
$regular-purple: #601848;

/* Green shades */
$green:			#92C7A3;
$green-light:	#34e009;

/* Light */
$magenta-light:	#e0099e;
$cyan-light:	#09e0d6;
$lemmon-light:	#b5e009;
$yellow-light:	#e0e009;

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Globals */

html {
	height: 100%;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-title;
	margin-bottom: 20px;
}

body {
	font-family: $font-content;
	font-weight: 300;
	background-color: $gray-dark;
	color: $white;
	font-size: 18px;
	height: 100%;
	width: 100%
}

a, a:active {
	color: $orange-vivid;
	text-decoration: none;
}

a:hover {
	color: $orange-lighter;
	text-decoration: none;
}

ul {
		list-style-type: none;
}

.navbar, .nav {

	background-color: $dark-blue;

	.navbar-toggle {
		margin-top: 10px;
		padding-top: 0px;
		padding-bottom: 20px;
	}

	li {

		a, a:active {
			color: $white;
		}

		a:hover {
			color: $dark-blue;
			text-decoration: none;
		}
	}
}

.clearfix:after {
	 content: " ";
	 display: block;
	 height: 0;
	 clear: both;
}

.header {
	font-size: 32px;
	text-align: center;
	margin-top: 20px;
	margin-left: -0%;
	width: 100%;

	@media (min-width: $screen-sm-min) {
		font-size: 62px;
		margin-left: -10%;
		width: 120%;
	}
}

.menu-button {
	color: $white;
	font-size: 24px;
	position: fixed;
	top: 10px;
	left: 20px;
	cursor: pointer;
	line-height: 1em;
	padding: 10px;
	background-color: $gray-dark;
	z-index: 100;
	@media (min-width: $screen-sm-min) {
		top: 20px;
		left: 40px;
	}
}

.content-panel {
	background-color: $gray-darker;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
	box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
	border-bottom: 5px solid $orange-strong;
}

#mainmenu {

	p {
		margin-bottom: 5px;
	}

	a, a:active {
		color: $white;
	}

	a:hover {
		color: $orange-light;
	}

	.pages {

		.fa {
			margin-right: 10px;
		}
	}
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
	background-color: $gray-light;
}

.links {
	margin-top: 50px;
	text-align: center;

	i {
		padding-left: 5px;
		padding-right: 5px;

		@media (min-width: $screen-sm-min) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.fa {
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
	}

	.fa-twitter:hover {
		color: $twitter;
	}

	.fa-linkedin:hover {
		color: $linkedin;
	}
	
	.fa-xing:hover {
		color: $xing;
	}

	.fa-google-plus:hover {
		color: $google-plus;
	}
	
	.fa-facebook:hover {
		color: $facebook;
	}

	.fa-github-alt:hover {
		color: $github;
	}

	.fa-stack-overflow:hover {
		color: $stack-overflow;
	}
	
	.fa-instagram:hover {
		color: $instagram;
	}
	
	.fa-reddit-alien:hover {
		color: $reddit;
	}
	
	.fa-rss:hover {
		color: $rss;
	}
}

/* Index */

.index {
	height: 100%;
	max-height: 100%;
	width: 100%;
	padding: 0px;

	@media (min-width: $screen-sm-min) {
		width: 100%;
		margin-left: 5%;
	}

	@media (min-width: $screen-md-min) {
		width: 80%;
		margin-left: 10%;
	}

	@media (min-width: $screen-lg-min) {
		width: 66%;
		margin-left: 17%;
	}

	.header {
		margin-top: 10px;
		margin-left: 0%;
		margin-bottom: 0px;
		font-size: 32px;
		width: 100%;

		@media (min-width: $screen-lg-min) {
			margin-left: -10%;
			width: 120%;
		}
	}

	.categories {
		font-size: 22px;
	}

	.content-panel:nth-of-type(1) {
		border-bottom: 10px solid $orange-strong;
	}

	.author-header {

		color: $blog-title;

		font-family: $font-title;
		font-size: 42px;

		margin-top: 0px;
		padding-top: 15px;

		@media (min-width: $screen-sm-min) {
			font-size: 52px;
			margin-top: 0px;
		}

		@media (min-width: $screen-md-min) {
			font-size: 60px;
			margin-top: -20px;
		}
	}

	.row {
		height: 100%;
		max-height: 100%;
		margin-top: 60px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.gravatar {
		width: 100%;
		margin-top: -110px;
		text-align: center;
	}

	.author-text {
		color: $cyan-light;
		font-size: 28px;
		font-style: italic;
		margin-top: 30px;
		text-align: center;
/*	
$blue-darker:	#1b8578;
$blue-dark:		#2da596;
$blue-ocean:	#40b6a7;
$blue-lighter:	#50d2c2;
$blue-vivid:	#097de0;
$dark-blue:		#215A6D;
$light-blue:	#3CA2A2;
*/	

		b {
			font-size: 32px;
		}
	}

	.title-text {
		text-align: center;
		margin-top: 30px;

		b {
			font-size: 32px;
		}
	}

	.links {
		font-size: 2em;
	}

	.articles {
		
		text-align: center;
		font-size: 20px;

		h2 {
			color: $white;
			font-family: $font-title;
			font-size: 26px;
			margin-bottom: 30px;
		}
		
		ul {

			padding: 0px;

			li {
				margin-bottom: 20px;
				font-size: 16px;

				a:hover {
					color: $gray-light-medium;
				}

				small {
					font-size: 14px;
					margin-top: -10px;
					padding-top: 0px;
					color: $gray-light-medium;
				}

			}

			li:nth-last-of-type(1) {

				small {
					font-size: 16px;
				}

			}
		}

		a, a:active {
			color: $white;
			white-space: nowrap;
		}

		a:hover {
			color: $light-blue;
		}

		.note {
			margin: 30px 0;
			margin-left: -30px;
			padding: 20px 20px 24px;
			padding-left: 50px;
			-webkit-border-radius: 0 5px 5px 0;
			-moz-border-radius: 0 5px 5px 0;
			border-radius: 0 5px 5px 0;
			position: relative;
			-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.3);
			-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.3);
			box-shadow: 0 1px 5px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.3);
			background-color: #7e6d42;
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlNmQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzRlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background-image: -webkit-gradient(linear, left top, left bottom, from(#7e6d42), to(#5c4e35));
			background-image: -webkit-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
			background-image: -moz-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
			background-image: -o-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
			background-image: linear-gradient(to bottom, #7e6d42 0%, #5c4e35 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e6d42', endColorstr='#5c4e35',GradientType=0 )
		}
	}

	.about {
		
		/*text-align: center;*/
		font-size: 20px;

		h2 {
			color: $white;
			font-family: $font-title;
			font-size: 26px;
			margin-bottom: 30px;
		}
		
		ul {

			padding: 0px;

			li {
				margin-bottom: 20px;
				font-size: 16px;

				a:hover {
					color: $gray-light-medium;
				}

				small {
					font-size: 14px;
					margin-top: -10px;
					padding-top: 0px;
					color: $gray-light-medium;
				}

			}

			li:nth-last-of-type(1) {

				small {
					font-size: 16px;
				}

			}
		}

		a, a:active {
			color: $white;
			white-space: nowrap;
		}

		a:hover {
			color: $light-blue;
		}
	}
	.copyright {
		margin-top: 50px;
		text-align: center;
	}

	.links {
		a, a:active {
			color: #FFFFFF;
		}
	}

	.menu {
		margin-top: 250px;
		margin-bottom: 20px;
		font-size: 20px;
		position: absolute;
		bottom: 0px;

		a, a:active {
			color: #FFFFFF;
		}

		a:hover {
			color: $light-blue;
		}

		ul {
			margin-bottom: 30px;
			padding-left: 10px;

			ul {
				padding-left: 50px;
				list-style: none;
				margin-left: 0;
				text-indent: -0.6em;
			}
		}
	}

}

.all-posts {

	margin-left: 0px;
	margin-right: 0px;

	@media (min-width: $screen-sm-min) {
		#search-container {
			padding-top: 75px;
			padding-bottom: 150px;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-left: -15px;
		margin-right: -15px;

		#search-container {
			padding-bottom: 300px;
		}
	}

	#search-input {
		position:relative;
		width: 100%;
		padding:6px 15px 6px 30px;
		margin: 2px;
		margin-top: 50px;

		color:$gray-dark;
		background-color:$white;

		border:1px solid #adc5cf;
		border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
	}

	#search-input:focus {
		border: none;
	}

	.content-panel {
		padding-left: 10px;
		padding-right: 10px;
		@media (min-width: $screen-md-min) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}


.single {

	height:100%;
	max-height: 100%;

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 28px;
	}

	p {
		margin-bottom: 10px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 40px;
		}
	}

	.menu {

		background-color: $dark-blue;

		a, a:active {
			color: $white;
		}

		a:hover {
			color: $light-blue;
		}

		h4 {
			margin-top: 20px;
		}

		.share {
			margin-top: 20px;

			h4 {
				margin-bottom: 10px;
			}
		}

		.home {
			margin-top: 10px;
			font-size: 16px;

			a {
				color: $white;
			}
		}

		.related {
			ul {
				padding: 0px;
			}
			li {
				margin-bottom: 10px;
			}
		}
	}

	.article {

		width: 100%;
		margin-left: 0%;
		padding: 0px;

		@media (min-width: $screen-sm-min) {
			width: 100%;
			margin-left: 5%;
		}

		@media (min-width: $screen-md-min) {
			width: 80%;
			margin-left: 10%;
		}

		@media (min-width: $screen-lg-min) {
			width: 66%;
			margin-left: 17%;
		}

		.thumb {
			margin-top: 20px;
			margin-bottom: 0px;
			text-align: center;

			img {
				height: 50px;
				@media (min-width: $screen-sm-min) {
					height: 70px;
				}
			}
		}

		.author {
			font-size: 20px;
			text-align: center;
			margin-bottom: 0px;
		}

		.read-time {
			font-size: 16px;
			text-align: center;
			margin-bottom: 10px;
			font-weight: 400;
			@media (min-width: $screen-sm-min) {
				margin-bottom: 40px;
			}
		}

		.content {

			font-size: 18px;
			line-height: 25px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 10px;

			@media (min-width: $screen-sm-min) {
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 40px;
				padding-bottom: 20px;
			}

			.series {
				margin-bottom: 50px;
			}

			h5 {
				font-size: 18px;
			}

			img {
				max-width: 100%;
				padding: 10px;
				display: block;
				margin-left: auto;
				margin-right: auto
			}

			ul {
				list-style-type: disc;
			}

								ol {
				list-style-type: decimal;
			}

			blockquote {
				position: relative;
				width: 100%;
				margin-left: -15px;
				padding-right: 10px;
				background-color: $gray-darker;
				color: white;
				box-sizing: content-box;
				border: none;
				font-size: 28px;
				line-height: 170%;

				@media (min-width: $screen-sm-min) {
					margin-left: -30px;
					padding-left: 45px;
					padding-right: 15px;
				}

				p {
					margin: 0;
					padding: 15px;
					z-index: 0;
				}

				:before {
					font-family: "Times New Roman";
					color: $gray-light-medium;
					content: "“";
					position: absolute;
					top: 15px;
					left: 15px;
					font-size: 65px;
					font-weight: bold;
				}

			}

			.alignright {
				float: right;
			}

			.aligncenter {
					display: block;
					margin: 5px auto 5px auto;
			}

			figure.highlight, div.highlighter-rouge {
				width: 100%;
				margin-left: -15px;
				padding-right: 10px;
				box-sizing: content-box;

				@media (min-width: $screen-sm-min) {
					margin-left: -30px;
					padding-right: 60px;
				}

				pre {
					width: 100%;
					font-family: 'Anonymous Pro';
					background-color: $code-highlighter-bg;
					color: $white;
					font-size: 12px;
					border: none;
					padding-left: 15px;
					padding-top: 20px;
					padding-bottom: 20px;
					padding-right: 15px;
					box-sizing: content-box;
					border-radius: 0;
					margin-bottom: 10px;
					margin-top: 10px;

					@media (min-width: $screen-sm-min) {
						padding-left: 50px;
						padding-right: 10px;
						margin-bottom: 40px;
						font-size: 15px;
					}
				}
			}

			p, ul, ol {

				code {
					font-family: 'Anonymous Pro';
					font-size: 15px;
					background-color: $gray-darker;
					color: $white;
					padding: 0.5em;
					vertical-align: middle;
				}

			}

			.tags {
				margin-top: 10px;
				margin-bottom: 10px;
				text-align: center;

				a, a:active {
					color: $white;
				}

				a:hover {
					color: $light-blue;
				}

			}

			.share {
				margin-top: 20px;
				margin-bottom: 10px;
				text-align: center;

			}

		}

		.feedback {
			text-align: center;

			.fa-heart {
				color: $red-light;
			}

		}

		.comments {
		}

	}
}

.related {
	margin-top: 50px;
	text-align: center;

	.related-header {
		margin-top: -30px;
		margin-bottom: 20px;

		a {
			color: $white;
			font-size: 18px;
			width: auto;
			padding: 10px 20px;
			background-color: $gray-darker;
			box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
		}

		a:hover {
			color: $dark-blue;
		}
	}

	.title {
		padding-top:20px;
		font-size: 20px;
		margin-bottom: 20px;

		@media (min-width: $screen-sm-min) {
			font-size: 36px;
		}

		a {
			color: $white;
		}

		a:hover {
			color: $gray-light;
		}
	}

	p {
		margin-bottom: 0px;
	}

	.previous-next {
		width: 50%;

		a {
			color: $white;
		}

		a:hover {
			color: $gray-light;
		}
	}

	.next {
		float: right;
		text-align: right;
	}

	.previous {
		float: left;
		text-align: left;
	}

	.date {
		color: $gray-light-medium;
	}
}

.search-hr {
	width: 700px;
	border-color: $gray-light-medium;
}

.error {
	.error-text {
		margin-top: 30px;

		a {
			color: $light-blue;
		}
	}

	.links {
		font-size: 1em;
	}
}

.footer {

	width: 100%;
	margin: 50px 0 0 0;

	.fa-heart {
		color: $red-light;
	}

	/*
	@media (min-width: $screen-sm-min) {
		width: 100%;
		margin-left: 5%;
	}

	@media (min-width: $screen-md-min) {
		width: 90%;
		margin-left: 10%;
	}

	@media (min-width: $screen-lg-min) {
		width: 80%;
		margin-left: 15%;
	}
	*/

	div {
		color: $gray-light-medium;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.btn-categories {
	background-color: $light-blue;
	border-color: $light-blue;
	color: $white;
	&:hover {
		background-color: $dark-blue;
		border-color: $dark-blue;
		color: $white;
	}
	&:active {
		background-color: $dark-blue;
		border-color: $dark-blue;
		color: $white;
	}
	&:focus {
		background-color: $dark-blue;
		border-color: $dark-blue;
		color: $white;
	}
}

.dropdown-menu {
	background-color: $light-blue;
	color: $white;
	> li > a {
		background-color: $light-blue;
		color: $white;
		&:hover {
			background-color: $dark-blue;
			color: $white;
		}
	}
}

table{
		margin: 0 auto;
		border-collapse: collapse;
		border-spacing: 0;
		border:2px solid $gray-darker;;
}

th{
		padding: 2px;
		border:2px solid $gray-darker;;
}

td{
		padding: 2px;
		border:1px solid $dark-blue;;
}
