@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic,900);

@font-face {
	font-family: 'Stone Sans';
	src:url("fonts/stonesans/Stone Sans Semi Bold Italic.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family:'Open Sans Light';
	src:url("fonts/opensans/OpenSans-Light-webfont.woff2") format("woff2");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:'Open Sans Light';
	src:url("fonts/opensans/OpenSans-Light-webfont.woff2") format("woff2");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:'Open Sans Light';
	src:url("fonts/opensans/OpenSans-Regular-webfont.woff2") format("woff2");
	font-weight:700;
	font-style:normal
}

/*
@font-face{
	font-family:'Open Sans Light';
	src:url("fonts/opensans/OpenSans-LightItalic-webfont.woff2") format("woff2");
	font-weight:400;
	font-style:italic
}
*/

@font-face{
	font-family:'Open Sans';
	src:url("fonts/opensans/OpenSans-Regular-webfont.woff2") format("woff2");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:'Open Sans';
	src:url("fonts/opensans/OpenSans-Semibold-webfont.woff2") format("woff2");
	font-weight:700;
	font-style:normal
}

@font-face{
	font-family:'Open Sans';
	src:url("fonts/opensans/OpenSans-Italic-webfont.woff") format("woff");
	font-weight:400;
	font-style:italic
}

@font-face{
	font-family:'Open Sans Extra Bold';
	src:url("fonts/opensans/OpenSans-ExtraBold-webfont.woff2") format("woff2");
	font-weight:700;
	font-style:normal
}